@import url(http://fonts.googleapis.com/css?family=Raleway:700,500,200);
@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
    font-family: 'Arimo', sans-serif;
}

.background {
	z-index:-100;
	background:url('../img/8995986772_d81c6ac03a_k_30.jpg') center center no-repeat;
	background-attachment: fixed;
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

h1, a, #skills .skill:hover .icons {
	color:#74b73f;
}

h2 {
	color:#fff;
	margin:0px;
	padding:30px 30px;
}

header a:hover, header a:focus, footer a:hover, footer a:focus, .navbar .nav>li>a {
	color:#629937;
	text-decoration:none;
	padding:inherit;
}

h1 {
	text-transform:lowercase;
	font-size:30px;
	font-weight:normal;
	line-height:10px;
	margin:10px 0px 0px 0px;
}

header, footer {
	position: fixed;
	background:white;
	-webkit-box-shadow: 0px 0px 10px 0px #333;
	-moz-box-shadow: 0px 0px 10px 0px #333;
	-o-box-shadow: 0px 0px 10px 0px #333;
	box-shadow: 0px 0px 10px 0px #333;
}

header {
	padding:10px 10px;
}

header .nav {
	margin:0px;
	display:inline;
	float:right;
}

header h1 {
	float:left;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}

header li {
	display:inline;
	float: left;
	margin-left:20px;
	line-height: 30px;
}

header li span {
	margin-left:5px;
}

header li.active, header li:hover {
	border-bottom: 3px solid #74b73f;
}

header li:hover {
	border-bottom-color: #629937;
}

.content {
	background-color: rgb(256, 256, 256);
    background-color: rgba(256, 256, 256, 0.8);
	padding:0px;
	color:#000;
	-webkit-box-shadow: 0px 0px 10px 0px #888;
	-moz-box-shadow: 0px 0px 10px 0px #888;
	-o-box-shadow: 0px 0px 10px 0px #888;
	box-shadow: 0px 0px 10px 0px #888;
}

section {
	padding-bottom:10px;
}

.galery {
	padding:0px 10px 20px 10px;
}

#about {
	font-family: 'Raleway', serif;
	font-weight: 200;
	background-color: rgb(116, 183, 63);
	background-color: rgb(116, 183, 63, 0.8);
	padding:80px 10px 20px 10px;
}

#about h2 {
	font-size: 40px;
	color:#fff;
	padding:0px;
}

#about p {
	font-size: 30px;
	line-height: 40px;
	color:#c2e7ae;
	padding-right:30px;
}

#about .span4 {
	text-align: center;
	padding:0px 20px;
}

#about .span8 {
	padding:30px 0px;
}

#about strong {
	font-weight:500;
}

#about p, #skills p {
	text-align: justify;
}

#skills {
	background-color: #d7584b;
}

#skills .row-fluid {
	margin-bottom:20px;
}

#skills .skill {
	padding:0px 0px 0px 0px;
	min-height:310px;
	position: relative;
	background-color: rgb(256, 256, 256);
}

#skills .skill .icons {
	font-size: 120px;
	text-align:center;
	color: #bbb;
}

#skills .skill .icons i, #skills .skill .icons img {
	margin:10px 15px;
}

#skills .skill .icons img {
	height:100px;

	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(../img/grayscale.svg#greyscale);  /* Firefox 4+ */
	filter: gray;
	
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

#skills .skill:hover .icons img {
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	filter: none;
}

#skills .skill .icons img.icon-3 {
	display:none;
}

#skills .skill h4 {
	background-color: #fd6859;
	color:#fff;
	padding:10px 10px;
}

#skills .skill p {
	padding:10px 10px;
}

#skills .skill .note {
	top:0;
	right:0;
	position: absolute; 
	width:50px;
	margin:10px 10px 0px 0px;
	padding:25px 10px 25px 10px;
	float:right;
	background-color: #fd6859;
	text-align:center;
	color:#fff;
	font-size:16px;
	font-weight:bold;

	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

#skills .skill:hover .note {	
	-moz-transform:rotate(10deg) scale(1.15);
	-webkit-transform:rotate(10deg) scale(1.15);
	-o-transform:rotate(10deg) scale(1.15);
	-ms-transform:rotate(10deg) scale(1.15);
	transform:rotate(10deg) scale(1.15);

}

#skills .skill .progress {
	float:right; 
	width:85%;
}

#photography {
	background-color: #000;
}

#photography .row-fluid {
	margin-bottom: 20px;
}

#photography a {
	color:#ff0000;
	border-width:3px;
	
	padding:0;
	overflow: hidden;
	float:left;
	text-align:center;
	vertical-align: middle;
}

#photography a.small {
	width:135px;
	height:85px;
}

#photography a.big {
	width:294px;
	height:190px;
}

#photography a.small:nth-child(even) {
	margin-left: 20px;
}

#photography a.small:nth-child(-n+2) {
	margin-bottom: 20px;
}

#photography img {
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	-o-filter: grayscale(50%);
	-ms-filter: grayscale(50%);
	filter: grayscale(50%);
	filter: url(../img/grayscale.svg#greyscale);  /* Firefox 4+ */
	filter: gray;
	
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

#photography img:hover {
	-webkit-filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	filter: none;
}

#photography a:hover {
	-webkit-box-shadow: 0px 0px 10px 0px #000;
	-moz-box-shadow: 0px 0px 10px 0px #000;
	-o-box-shadow: 0px 0px 10px 0px #000;
	box-shadow: 0px 0px 10px 0px #000;
}

.fancybox-skin {
	background-color:black;
}

#contact {
	height:300px;
	background-color: rgb(116, 183, 63);
	background-color: rgb(116, 183, 63, 0.8);
	padding-bottom:140px;
}

#map {
	width: 940px;
	height: 400px;
	position: absolute;
	z-index: 0;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

.vcard {
	width:300px;
	margin:auto;
	padding:20px;
	background-color:white;
	font-family: 'Raleway', serif;
	font-weight: 200;	
	cursor:default;

	z-index: 1;
	position:absolute;
	margin-left:570px;
	margin-top:30px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	
	-webkit-box-shadow: 0px 0px 5px 0px #000;
	-moz-box-shadow: 0px 0px 5px 0px #000;
	-o-box-shadow: 0px 0px 5px 0px #000;
	box-shadow: 0px 0px 5px 0px #000;
	
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.vcard .n {
}

.vcard:hover {	
	-webkit-box-shadow: 0px 0px 15px 0px #000;
	-moz-box-shadow: 0px 0px 15px 0px #000;
	-o-box-shadow: 0px 0px 15px 0px #000;
	box-shadow: 0px 0px 15px 0px #000;
	
	-moz-transform:rotate(-2deg) scale(1.05);
	-webkit-transform:rotate(-2deg) scale(1.05);
	-o-transform:rotate(-2deg) scale(1.05);
	-ms-transform:rotate(-2deg) scale(1.05);
	transform:rotate(-2deg) scale(1.05);
}

.vcard  .n {
	color: #74b73f;
	font-size: 20px;
	font-weight: 700;
}

.vcard  .n, .vcard  .title {
	text-align: center;
	margin-bottom: 5px;
}

.vcard  .title {
	font-size: 16px;
}

.vcard li {
	font-weight: 500;
	font-size:12px;
}

.vcard  a:hover {
	text-decoration:none;
	color:#629937;
}

.vcard  .adr {
	text-align: right;
}

footer {
	bottom: 0;
	left:0;
	right:0;
	padding-top:10px;
	z-index: 2;
}

footer .navbar {
	margin-bottom: 10px;
}

footer .nav {
	margin-bottom: 0px;
}

footer .nav li {
	float: left;
	margin:0px 5px;
}

/*******************************************************************
 * Large sreen > 1200px
 */

@media (min-width: 1200px) {

	#about h2 {
		font-size: 54px;
		margin-bottom: 20px;
	}

	#about p {
		font-size: 40px;
		line-height: 50px;
	}

	#about .span8 {
		padding:40px 0px;
	}

	#skills .skill {
		min-height:290px;
	}

	#skills .skill .icons img.icon-3 {
		display:inline;
	}

	#photography a.small:nth-child(even) {
		margin-left: 30px;
	}
	
	#photography a.small {
		width:166px;
		height:100px;
	}

	#photography a.big {
		width:364px;
		height:220px;
	}

	#map {
		width: 1170px;
		height: 400px;
	}

	.vcard {
		margin-left:700px;
		margin-top:30px;
	}
}

/*******************************************************************
 * Small sreen < 979px
 */
 
@media (max-width: 979px) {

	#about h2 {
		font-size: 24px;
	}

	#about p {
		font-size: 20px;
		line-height: 25px;
	}

	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
	}

	#skills .skill {
		min-height:370px;
	}

	#skills .skill .icons img.icon-2 {
		display:none;
	}
	
	#photography a.small {
		width:100px;
		height:60px;
	}

	#photography a.big {
		width:222px;
		height:140px;
	}

	#map {
		width: 724px;
		height: 400px;
	}

	.vcard {
		margin-left:350px;
		margin-top:30px;
	}
}

/*******************************************************************
 * Little sreen < 767px
 */
 
@media (max-width: 767px) {

	h2 {
		font-size: 24px;
	}

	header {
		text-align:center;
		padding:2px;
	}
	
	header>.container>.row-fluid>h1.span4 {
		display:none;
	}
	
	header .nav {
		float:none;
		display:block;
	}
	
	header li {
		float:none;
		margin-left:10px;
		margin-right:10px;
	}

	.nav>li>a {
		display: inline;
	}
	
	#about img {
		width:200px;
		height:200px;
		margin-bottom:10px;
	}

	#about .span8 {
		padding:20px 0px;
	}

	#about p {
		padding-right:0px;
	}
	
	#skills .row-fluid {
		margin-bottom:0px;
	}
	
	#skills .skill {
		min-height:300px;
		padding-top:1px;
		margin-bottom:10px;
	}

	#skills .skill .icons img.icon-2 {
		display:inline;
	}

	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: auto;
	}
	
	#photography a.big, #photography a.small {
		width:inherit;
		height:inherit;
		margin-bottom: 20px;
		text-align:center;
	}	

	#photography a.small:nth-child(even) {
		margin-left: 0;
	}

	#map {
		display:none;
	}

	.vcard {
		position:relative;
		margin:auto;
	}
	
	footer {
		position: relative;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding:10px 5px 0px 5px;
	}
}

/*******************************************************************
 * Mobile sreen < 460px
 */

@media (max-width: 460px) {	
	header li {
		margin-left:20px;
		margin-right:20px;
	}
	
	header li span {
		display:none;
	}
	
	.vcard {
		width:220px;
		padding:10px;
	}

	#skills .skill .icons img.icon-2 {
		display:none;
	}
}